<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>
        {{#is "home"}} 
            {{@blog.title}}
        {{else}}
            {{#is "tag"}}
                {{#tag}}
                    {{name}} - Tag - {{@blog.title}}
                {{/tag}}
            {{else}}
                {{#is "page, post"}}
                    {{meta_title}} - {{@blog.title}}
                {{else}}
                    {{meta_title}}
                {{/is}}
            {{/is}}
        {{/is}}
    </title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <style>
	.btn,a,blockquote,body,code,h1,h2,h3,h4,h5,input,li,p,pre,textarea,ul{font-family:"Noto Sans SC","Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Hiragino Kaku Gothic Pro",Meiryo,"Malgun Gothic",sans-serif}
	.header .header-logo{margin:80px auto 20px auto;max-width:600px}
		.header .header-logo h1{font-size:36px;font-weight:600;text-align:left}
			.header .header-logo h1 a{color:#4A4A4A;text-decoration:none}
			.header .header-logo h1 a:hover{-webkit-box-shadow: inset 0 -6px 0 rgba(255,74,110,.2);box-shadow: inset 0 -6px 0 rgba(255,74,110,.2);text-decoration:none}
		.header .header-menu{margin:20px auto 20px auto;max-width:600px}
			.header .header-menu .header-nav{list-style:none;font-size:15px}
				.header .header-menu .header-nav li{position:relative;display:initial;padding-right:10px}
					.header .header-menu .header-nav li a:focus{background-color:#fff;font-weight:400}
				.header .header-menu .header-nav a{text-decoration:none;color:#555;display:initial;font-weight:400}
					.header .header-menu .header-nav a:hover{-webkit-box-shadow: inset 0 -6px 0 rgba(255,74,110,.2);box-shadow: inset 0 -6px 0 rgba(255,74,110,.2);background-color:#fff}
					.header .header-menu .header-nav a.active{-webkit-box-shadow: inset 0 -6px 0 rgba(36,177,209,.2);box-shadow: inset 0 -6px 0 rgba(36,177,209,.2);font-weight:400}
	.main .content{margin:auto;max-width:600px}
		.main .content .content-head{padding:10px 0}
			.main .content .content-head h2{font-size:20px;padding-bottom:5px;text-transform:uppercase;font-weight:600}
				.main .content .content-head h2 a{color:#4A4A4A;text-decoration:none}
				.main .content .content-head h2 a:hover{-webkit-box-shadow: inset 0 -6px 0 rgba(255,74,110,.2);box-shadow: inset 0 -6px 0 rgba(255,74,110,.2);}
			.main .content .content-head p{color:#555;font-size:12px;text-transform:uppercase}
				.main .content .content-head p a{color:#555;font-size:12px;text-decoration:none}
					.main .content .content-head p a:hover{-webkit-box-shadow: inset 0 -3px 0 rgba(255,74,110,.2);box-shadow: inset 0 -3px 0 rgba(255,74,110,.2);}
			.main .content .article{padding-top:30px}
				.main .content .article img{display:inline-block;max-width:100%;height:auto;padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;margin-bottom:10px}
				.main .content .article ul{margin-top:10px;margin-bottom:10px;padding-left:20px;list-style:square}
				.main .content .article a,.main .content .article blockquote,.main .content .article code,.main .content .article li,.main .content .article p,.main .content .article ul{font-size:15px;color:#4A4A4A}
				.main .content .article h5{font-size:15px;font-weight:600;color:#4A4A4A}
				.main .content .article h4{font-size:17px;font-weight:600;color:#4A4A4A}
				.main .content .article h3{font-size:19px;font-weight:600;color:#4A4A4A}
				.main .content .article h2{font-size:21px;font-weight:600;color:#4A4A4A}
				.main .content .article h1{font-size:23px;font-weight:600;color:#4A4A4A}
				.main .content .article a{-webkit-box-shadow: inset 0 -3px 0 rgba(36,177,209,.2);box-shadow: inset 0 -3px 0 rgba(36,177,209,.2);text-decoration:none}
					.main .content .article a:hover{-webkit-box-shadow: inset 0 -3px 0 rgba(255,74,110,.2);box-shadow: inset 0 -3px 0 rgba(255,74,110,.2);text-decoration:none}
				.main .content .article .back-to-top{color:#4A4A4A;font-size:15px}
					.main .content .article .back-to-top a{color:#4A4A4A;font-size:15px;text-decoration:none}
						.main .content .article .back-to-top a:hover{-webkit-box-shadow: inset 0 -3px 0 rgba(255,74,110,.2);box-shadow: inset 0 -3px 0 rgba(255,74,110,.2);}
			.main .content .content-pagi{padding:20px 0 0}
				.main .content .content-pagi p{color:#555;font-size:15px;text-transform:uppercase}
					.main .content .content-pagi p a{color:#555;font-size:15px;text-decoration:none}
						.main .content .content-pagi p a:hover{-webkit-box-shadow: inset 0 -6px 0 rgba(255,74,110,.2);box-shadow: inset 0 -6px 0 rgba(255,74,110,.2);}
	.footer{margin:40px auto 40px auto;max-width:600px}
		.footer p{color:#4A4A4A;font-size:12px;font-weight:400}
		.footer a{text-decoration:none;-webkit-box-shadow: inset 0 -3px 0 rgba(36,177,209,.2);box-shadow: inset 0 -3px 0 rgba(36,177,209,.2);color:#4A4A4A;}
			.footer a:hover{-webkit-box-shadow: inset 0 -3px 0 rgba(255,74,110,.2);box-shadow: inset 0 -3px 0 rgba(255,74,110,.2);text-decoration:none}
	#comments{margin-right:-1em;margin-left:-1em}
		#comments li{list-style:none}
		#comments .cm-comment{padding:.5em 0 .5em 2.5em}
	@media (max-width:768px){.header .header-logo h1,.header .header-menu{text-align:center}.header .header-menu,.main .content{padding-left:10px;padding-right:10px}.footer{padding:30px 10px 30px 10px}}
	</style>

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head><body>
<div class="header">
	<div class="header-logo">
		<h1><a href="/" class="start">
        {{#is "home"}} 
            {{@blog.title}}
        {{else}}
            {{#is "tag"}}
                {{#tag}}
                    <i class="fa fa-tag"></i>&nbsp;{{name}}
                {{/tag}}
            {{else}}
                {{meta_title}}
            {{/is}}
        {{/is}}
        </a></h1>
	</div>
	<div class="header-menu">
		{{!-- The blog navigation links --}}
    	{{navigation}}
    </div>
</div>
<div class="main">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

</div>

<div class="footer">
		<p><i class="fa fa-copyright"></i></span> {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a>. Theme <a href="https://github.com/ygbhf/1ite" target="_blank">1ite</a> with <a href="https://github.com/TryGhost/Ghost" target="_blank">Ghost</a>. Hosted on <a href="https://heroku.com" target="_blank">Heroku</a>, Sponsored by <a href="https://console.upyun.com/register/?invite=B1oaHIgCb" target="_blank">UPYUN</a>.</p>
</div>

<link href="//cdn.jsdelivr.net/npm/bootstrap@3.4.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="//cdn.jsdelivr.net/npm/font-awesome@4.6.3/css/font-awesome.min.css" rel="stylesheet">
<script src="//cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>

{{ghost_foot}}

</body></html>
